.recentTrips{

background:#fff;

padding:24px;

border-radius:18px;

box-shadow:0 5px 18px rgba(0,0,0,.05);

margin-top:24px;

}

.tripHeader{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.tripHeader h2{

font-size:20px;

font-weight:600;

}

.tripHeader a{

text-decoration:none;

color:#5B5CEB;

font-weight:600;

}

table{

width:100%;

border-collapse:collapse;

}

thead{

background:#F8FAFC;

}

th{

padding:15px;

text-align:left;

font-size:14px;

color:#666;

}

td{

padding:18px 15px;

border-top:1px solid #eee;

font-size:14px;

}

.driver{

display:flex;

align-items:center;

gap:10px;

}

tbody tr:hover{

background:#fafafa;

cursor:pointer;

transition:.3s;

}